<configuration>
    <conversionRule conversionWord="maskedMsg"
                    converterClass="com.charter.tech.keycloakopa.config.MaskingConverterLogConfig"/>
    <turboFilter class="com.charter.tech.keycloakopa.config.TurboFilterLogConfig"/>
    <springProfile name="local | dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{ip_address}] [%X{traceId}] [%X{spanId}] [%thread]
                    [%X{application_name}] [%X{http_method}] [%X{request_uri}] %highlight(%-5level) %logger{36} :
                    %maskedMsg%n
                </pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod | staging">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
                <jsonGeneratorDecorator class="net.logstash.logback.decorate.CompositeJsonGeneratorDecorator">
                    <decorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
                </jsonGeneratorDecorator>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
    <logger name="org.springdoc" level="OFF"/>
    <logger name="io.swagger" level="OFF"/>
</configuration>